{
  "extends": [
    "stylelint-config-standard-scss",
    "stylelint-order",
    "stylelint-config-idiomatic-order",
    "stylelint-prettier",
    "stylelint-prettier/recommended"
  ],
  "rules": {
    "no-duplicate-selectors": null,
    "prettier/prettier": true
  }
}
