@import '../../styles/style';

.tab-links {
  position: relative;
  display: flex;
  width: min-content;
  flex-direction: column;
  gap: 12px;
  transition: 0.3s;

  .lang {
    cursor: pointer;
  }

  ul {
    display: none;

    &.active {
      position: absolute;
      top: calc(100% + 4px);
      right: 0;
      display: block;
      padding: 6px;
      border-radius: 6px;
      background: #fff;
      box-shadow: 0 4px 16px 0 rgb(0 0 0 / 12%);
    }

    .tab-link {
      padding: 3px;

      button {
        display: flex;
        align-items: center;
        gap: 4px;
        transition: 0.5s;

        &.active {
          border-radius: 6px;
          background: #ededed;
        }

        &:hover {
          border-radius: 6px;
          background: #ededed;
        }
      }
    }
  }
}
