button {
  background-color: transparent;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  font-family: var(--ff-gilroy);
  font-size: var(--paragraph-lg);

  &:active {
    transform: scale(0.9);
  }
}

.primary {
  padding: var(--paragraph-lg) 28px;
  border-radius: 36px;
  background-color: var(--clr-primary-dk);
  color: var(--clr-primary-lt);
  font-weight: var(--fw-normal);
  gap: var(--bottom-md);
  text-transform: uppercase;
  transition: 0.2s;
}

.secondary {
  padding: 12px var(--bottom-xl);
  border: 1px solid var(--clr-primary-dk);
  border-radius: 2.438rem;
  color: var(--clr-primary-dk);
  column-gap: 10px;
  font-weight: var(--fw-medium);
  line-height: var(--paragraph-xl);
  transition: 0.3s;

  &:hover {
    gap: var(--paragraph-xl);
  }
}

.circle-btn {
  width: 48px;
  height: 48px;
  border: 1px solid var(--clr-primary-dk);
  border-radius: 50%;
  background-color: var(--clr-primary-lt);
  color: var(--clr-primary-dk);
  transition: 0.3s;

  &:hover {
    background-color: var(--clr-primary-dk);
    color: var(--clr-primary-lt);
  }
}

.sm {
  padding: 6px 18px;
  border: 1px solid var(--clr-gray-ltr);
  border-radius: 30px;
  color: var(--clr-gray-ltr);
  font-family: var(--ff-gilroy);
  font-size: 14px;
  font-weight: 500;
  transition: 0.3s;

  &:hover {
    background-color: var(--clr-gray-ltst);
    color: var(--clr-gray-lt);
  }

  &.active {
    background-color: var(--clr-primary-dk);
    color: var(--clr-primary-lt);
  }
}
