@import '../../styles/style';

.promo-slide {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 600px;
  border-radius: 28px;

  .slider-color {
    position: absolute;
    width: 100%;
    height: 600px;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 10%) 0%,
      rgba(0, 0, 0, 10%) 100%
    );
  }

  img {
    width: 100%;
    height: 600px;
  }
}
