.mini-container {
  width: 200px;
  cursor: pointer;
  text-align: center;

  &:hover .mini-card {
    transform: scale(1.1);
  }

  .image-container {
    overflow: hidden;
    width: 100px;
    height: 100px;
    border-radius: 16px;
    margin: 0 auto;

    .mini-card {
      width: 100px;
      height: 100px;
      border-radius: 16px;
      transition: all 0.5s ease;
    }
  }

  .card-title p {
    margin-top: 16px;
    color: var(--clr-primary-dk);
    font-family: var(--ff-gilroy);
    font-size: var(--heading-md);
    font-weight: var(--fw-semi-bold);
  }
}
