.category {
  width: 100%;
  padding-top: 96px;

  .category-info {
    display: flex;
    flex-direction: column;
    align-items: end;

    h1 {
      width: 100%;
      color: var(--clr-primary-dk);
      font-family: var(--ff-gilroy);
      font-size: 64px;
      font-weight: 500;
      letter-spacing: 0.64px;
      line-height: 120%;
      text-transform: uppercase;
    }

    p {
      width: 100%;
      max-width: 450px;
      color: var(--clr-primary-dk);
      font-family: var(--ff-gilroy);
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
    }
  }

  .category-search {
    display: flex;
    width: 100%;
    align-items: center;
    column-gap: 16px;
    margin-top: 64px;

    .filter-button {
      border: 1px solid var(--primary-black, #000);
      border-radius: 30px;
      display: flex;
      align-items: center;
      column-gap: 16px;
    }
  }
  .category-fiter-btn {
    .btns {
      padding-top: 16px;
      display: flex;
      column-gap: 16px;
    }
  }
  .wrapper
  {
    padding-top: 64px;
    .result
    {
      display: flex;
      align-items: center;
      column-gap: 10px;
      padding-bottom: 36px;
    }
    .cards
    {
      display: flex;
      flex-wrap: wrap;
      column-gap: 30px;
      row-gap: 48px;
    }
  }
}
