.mini-container {
  display: flex;
  align-items: center;
  margin-top: 25px;
  cursor: pointer;
}

.info-title {
  margin-left: 8px;
  color: var(--clr-primary-dk);
  font-family: var(--ff-gilroy);
  font-size: var(--bottom-md);
  font-weight: var(--fw-medium);
}

.item-advertisements {
  color: var(--clr-gray-ltr);
  font-family: var(--ff-gilroy);
  font-size: var(--bottom-md);
  font-weight: var(--fw-medium);
}
