.news-card {
  display: flex;
  width: 100%;
  flex-direction: column;
  border-radius: 16px;
  font-family: var(--ff-gilroy);
  row-gap: 24px;

  .card-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    border-radius: 16px;

    .card-color {
      position: absolute;
      z-index: 50;
      width: 100%;
      height: 260px;
      border-radius: 16px;
      background: linear-gradient(
        0deg,
        rgb(0 0 0 / 10%) 0%,
        rgb(0 0 0 / 10%) 100%
      );
    }

    img {
      width: 100%;
      height: 260px;
      object-fit: cover;
      object-position: center center;
      transition: 1s;
    }
  }

  .card-info {
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    .news-info {
      display: flex;
      flex-direction: column;
      row-gap: 12px;

      span {
        color: var(--clr-gray-lt);
        font-size: var(--bottom-md);
        font-weight: var(--fw-medium);
        line-height: 24px;
        text-transform: capitalize;
      }

      .news-about {
        display: flex;
        flex-direction: column;
        row-gap: 24px;

        h5 {
          font-size: var(--heading-md);
          font-weight: var(--fw-medium);
          letter-spacing: 0.24px;
          text-transform: none;
        }

        p {
          color: var(--clr-gray-dark);
          font-size: var(--bottom-md);
          font-weight: var(--fw-medium);
          line-height: 24px;
          text-transform: none;
        }
      }
    }

    .news-status {
      display: flex;
      align-items: center;
      justify-content: space-between;

      span {
        color: var(--clr-gray-lt);
        font-size: var(--bottom-md);
        font-weight: var(--fw-medium);
        line-height: 24px;
        text-transform: none;
      }

      .news-watch {
        display: flex;
        align-items: center;
        column-gap: 8px;
      }
    }
  }

  &:hover img {
    transform: scale(1.15);
  }
}

@media only screen and (width <= 700px) {
  .news-card {
    row-gap: 16px;

    .card-img {
      .card-color {
        height: 230px;
      }

      img {
        height: 230px;
      }
    }

    .card-info {
      row-gap: 16px;

      .news-info {
        row-gap: 8px;

        .news-about {
          row-gap: 16px;

          h5 {
            letter-spacing: -0.1px;
          }
        }
      }
    }
  }
}
