.blog {
  padding: 188px 0 288px;

  .notfound {
    margin-top: 188px;
    color: var(--bg-footer);
    text-align: center;
    font-family: var(--ff-gilroy);
    font-size: 200px;
    line-height: 235.4px;
    font-weight: 600;
  }

  .notpage {
    margin-top: 16px;
    color: var(--clr-gray-lt);
    text-align: center;
    font-family: var(--ff-red-hat);
    font-size: var(--paragraph-2xl);
    font-weight: var(--fw-medium);
    line-height: 42.34px;
    text-transform: uppercase;
  }

  .unavailable {
    margin-top: 24px;
    font-family: var(--ff-gilroy);
    color: var(--clr-gray-lt);
    font-size: var(--paragraph-md);
    text-align: center;
  }

  button {
    margin: 0 auto;
    margin-top: 64px;
  }
}
