body {
  font-family: var(--ff-gilroy);

  ::-webkit-scrollbar {
    display: none;
  }
}

img {
  display: block;
}

a {
  color: inherit;
  outline: none;
}

main {
  padding-top: 96px;
  padding-bottom: 128px;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

:root {
  /* ========== Colors ========== */
  --bg-body: #fff;
  --bg-skeleton: #ededed;
  --primary-black: #000;
  --clr-primary-dk: #000;
  --clr-primary-lt: #fff;
  --clr-gray-dark: #626262;
  --clr-gray-lt: #a9a9a9;
  --clr-gray-ltr: #cacaca;
  --clr-gray-ltst: #f3f3f3;
  --silver: #bfbfbf;

  /* ==========Font========== */

  --ff-red-hat: 'Red Hat Display', sans-serif;
  --ff-gilroy: 'Gilroy', sans-serif;

  /* ==========Size========== */

  --heading-2xl: 6rem;
  --heading-xl: 4rem;
  --heading-lg: 2rem;
  --heading-md: 1.5rem;
  --paragraph-2xl: 2rem;
  --paragraph-xl: 1.25rem;
  --paragraph-md: 1rem;
  --paragraph-lg: 0.875rem;
  --paragraph-sm: 0.75rem;
  --bottom-xl: 1.5rem;
  --bottom-lg: 1.125rem;
  --bottom-md: 1rem;
  --bottom-sm: 0.875rem;

  /* ==========Weight========== */
  --fw-bold: 700;
  --fw-semi-bold: 600;
  --fw-medium: 500;
  --fw-normal: 400;

  @media only screen and (width <= 992px) {
    --heading-2xl: 3rem;
    --heading-xl: 2.25rem;
    --heading-lg: 2rem;
    --paragraph-2xl: 1.5rem;
    --paragraph-xl: 1.25rem;
    --paragraph-lg: 1rem;
    --paragraph-md: 0.875rem;
    --bottom-xl: 1rem;
    --bottom-lg: 0.875rem;
  }

  @media only screen and (width <= 700px) {
    --heading-2xl: 2rem;
    --heading-xl: 1.5rem;
    --heading-md: 1.25rem;
    --paragraph-2xl: 1.5rem;
    --paragraph-xl: 1.25rem;
    --paragraph-lg: 1rem;
    --paragraph-md: 0.875rem;
    --bottom-xl: 1rem;
    --bottom-lg: 0.875rem;
  }
}

@media only screen and (width <= 992px) {
  main {
    padding-top: 64px;
    padding-bottom: 120px;
  }
}

@media only screen and (width <= 700px) {
  main {
    padding-top: 48px;
    padding-bottom: 80px;
  }
}
