@font-face {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 500;
  src: url('../../public/fonts/red-hat-display/RedHatDisplay-Medium.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 600;
  src: url('../../public/fonts/red-hat-display/RedHatDisplay-SemiBold.ttf')
    format('truetype');
}

@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 400;
  src: url('../../public/fonts/gilroy/Gilroy-Regular.ttf')
    format('truetype');
}

@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  src: url('../../public/fonts/gilroy/Gilroy-Medium.ttf')
    format('truetype');
}

@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  src: url('../../public/fonts/gilroy/Gilroy-SemiBold.ttf')
    format('truetype');
}

@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 700;
  src: url('../../public/fonts/gilroy/Gilroy-Bold.ttf')
    format('truetype');
}
