@import './reset';
@import './base';
@import './fonts';

html,
body {
  height: 100%;
  font-family: var(--ff-gilroy);

  ::-webkit-scrollbar {
    display: none;
  }
}

.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.container {
  width: 100%;
  max-width: 1380px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}
