@import './reset';
@import './base';
@import './fonts';

html,
body {
  height: 100%;
  font-family: var(--ff-gilroy);
}

.wrapper {
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  flex-direction: column;
}

.main-content {
  flex: 1 1 auto;
}

.container {
  width: 100%;
  max-width: 1380px;
  padding: 0 1.25rem;
  margin: 0 auto;
}
