@import '../../styles/style';

.home-page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  row-gap: 140px;
}

.promo-section {
  display: flex;
  width: 100%;
  flex-direction: column;
  row-gap: 64px;

  .promo-about {
    display: flex;
    width: 100%;
    flex-direction: column;
    row-gap: 48px;

    h1 {
      font-family: var(--ff-red-hat);
      font-size: var(--heading-2xl);
      font-weight: var(--fw-medium);
      letter-spacing: -1.92px;
      text-transform: uppercase;
    }

    .about {
      display: flex;
      width: 100%;
      max-width: 1141px;
      align-self: flex-end;
      justify-content: space-between;
      column-gap: 24px;

      p {
        max-width: 537px;
        font-family: var(--ff-gilroy);
        font-size: var(--paragraph-md);
        font-weight: var(--fw-medium);
        line-height: 24px;
      }

      .promo-search {
        display: flex;
        width: 100%;
        max-width: 540px;
        flex-direction: column;
        row-gap: 16px;

        .input-button {
          display: flex;
          justify-content: space-between;
          column-gap: 16px;

          form {
            flex-grow: 1;

            input {
              background: none;
            }
          }
        }

        .promo-category {
          display: flex;
          align-items: center;
          column-gap: 12px;
        }
      }
    }
  }
}

.slider-section {
  display: flex;
  flex-direction: column;
  row-gap: 48px;

  h3 {
    font-family: var(--ff-red-hat);
    font-size: 48px;
    font-weight: var(--fw-medium);
    letter-spacing: 0.48px;
    text-transform: uppercase;
  }
}

@media only screen and (width <= 992px) {
  .home-page {
    row-gap: 120px;
  }

  .promo-section {
    row-gap: 48px;

    .promo-about {
      column-gap: 32px;

      h1 {
        letter-spacing: 0.48px;
      }

      .about {
        column-gap: 24px;

        p {
          font-size: var(--paragraph-lg);
          line-height: 24px;
        }

        .promo-search {
          overflow-x: hidden;
          row-gap: 10px;

          .input-button {
            column-gap: 10px;
          }

          .promo-category {
            column-gap: 10px;
          }
        }
      }
    }

    .promo-slider.container {
      padding: 0;
    }
  }

  .slider-section {
    row-gap: 32px;

    h3 {
      font-size: var(--heading-lg);
      letter-spacing: 0.32px;
    }
  }
}

@media only screen and (width <= 700px) {
  .home-page {
    row-gap: 80px;
  }

  .promo-section {
    row-gap: 36px;

    .promo-about {
      row-gap: 32px;

      h1 {
        letter-spacing: 0.32px;
      }

      .about {
        flex-direction: column;
        justify-content: flex-start;
        row-gap: 32px;

        .promo-search {
          max-width: 100%;
          row-gap: 12px;

          .input-button {
            button {
              display: none;
            }
          }
        }
      }
    }
  }

  .slider-section {
    &.container {
      padding-right: 0;
    }

    h3 {
      font-size: var(--heading-xl);
      letter-spacing: 0.24px;
    }
  }
}
