.sliders {
  display: flex;
  flex-direction: column;
  row-gap: 3.75rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider-btn {
  display: flex;
  column-gap: 1.5rem;
}

.btn-slider {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
