.sliders {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider-btn {
  display: flex;
  column-gap: 24px;
}

.btn-slider {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media only screen and (width <= 1023px) {
  .sliders {
    row-gap: 32px;
  }
}

@media only screen and (width <= 767px) {
  .slider-btn {
    display: none;
  }
}
