<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="box">
        <div class="box1">
            <img class="box10" src="./Rectangle.png" alt="">
             <button class="box6">PRE-ORDER NOW</button>
        </div>
        <div class="box2">
            <p class="box7">
                TYPEMASTER KEYBOARTD
            </p>
            <div class="box9">
                <p class="box8">
                    Improve your productivity and gaming without breaking the bank. Upgrade to a high quality mechanical typing experience. 
                </p>
            </div>
        </div>
        <div class="box3">
            <img src="./Bitmap.png" alt="">
        </div>
        <div class="box4">
             <p class="box11">PRE-ORDER NOW</p>
        </div>
        <div class="box5">
            <img class="box15" src="./Group 8 (1).png" alt="">
            <p class="box14">HIGHLY COMPATIBLE</p>
        </div>
        <div class="12">

        </div>
        <div class="13">

        </div>
    </div>
</body>
</html>