.events-card {
  display: flex;
  width: 100%;
  flex-direction: column;
  font-family: var(--ff-gilroy);
  row-gap: 24px;
  cursor: pointer;

  .card-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    border-radius: 16px;

    .card-color {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 260px;
      border-radius: 16px;
      background: linear-gradient(
        0deg,
        rgb(0 0 0 / 10%) 0%,
        rgb(0 0 0 / 10%) 100%
      );
    }

    img {
      width: 100%;
      height: 260px;
      object-fit: cover;
      object-position: center center;
      transition: 1s;
    }
  }

  .event-info {
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    .event-date {
      display: flex;
      align-items: center;
      justify-content: space-between;

      span {
        color: var(--clr-gray-lt);
        font-size: var(--bottom-lg);
        font-weight: var(--fw-medium);
        line-height: 24px;
        text-transform: capitalize;
      }
    }

    .event-about {
      display: flex;
      flex-direction: column;
      row-gap: 16px;

      h5 {
        font-family: var(--ff-gilroy);
        font-size: var(--heading-md);
        font-weight: var(--fw-medium);
        letter-spacing: -0.12px;
        text-transform: none;
      }

      .event-location {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .location-info {
          display: flex;
          align-items: center;
          column-gap: 10px;

          span {
            color: var(--clr-gray-lt);
            font-size: var(--bottom-sm);
            font-weight: var(--fw-medium);
            text-transform: capitalize;
          }
        }
      }
    }
  }

  &:hover img {
    transform: scale(1.15);
  }
}

@media only screen and (width <= 700px) {
  .events-card {
    row-gap: 16px;

    .card-img {
      .card-color {
        height: 230px;
      }

      img {
        height: 230px;
      }
    }

    .event-info {
      row-gap: 18px;

      .event-date {
        span {
          line-height: normal;
        }
      }

      .event-about {
        row-gap: 8px;

        h5 {
          letter-spacing: 0.2px;
        }

        .event-location {
          .location-info {
            column-gap: 6px;

            span {
              line-height: 18px;
            }
          }
        }
      }
    }
  }
}
