@import '../../../styles/style';

.events-card {
  display: flex;
  width: 100%;
  max-width: 26.25rem;
  flex-direction: column;
  font-family: var(--ff-gilroy);
  row-gap: 1.5rem;

  .card-img {
    overflow: hidden;
    width: 100%;
    border-radius: 1rem;

    img {
      width: 100%;
      height: 260px;

      &:hover {
        transform: scale(1.2);
        transition: 2s;
      }
    }
  }

  .event-info {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;

    .event-date {
      display: flex;
      align-items: center;
      justify-content: space-between;

      span {
        color: var(--clr-gray-lt);
        font-size: var(--bottom-md);
        font-weight: var(--fw-medium);
        line-height: 1.5rem;
      }
    }

    .event-about {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;

      h5 {
        font-family: var(--ff-gilroy);
        font-size: var(--heading-md);
        font-weight: var(--fw-medium);
        letter-spacing: -0.0075rem;
      }

      .event-location {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .location-info {
          display: flex;
          align-items: center;
          column-gap: 0.625rem;

          span {
            color: var(--clr-gray-lt);
            font-size: var(--bottom-sm);
            font-weight: var(--fw-medium);
          }
        }
      }
    }
  }
}
