.category-card {
  display: flex;
  width: 100%;
  flex-direction: column;
  font-family: var(--ff-gilroy);
  cursor: pointer;
  row-gap: 24px;

  .category-status {
    position: relative;
    overflow: hidden;

    .status {
      position: absolute;
      z-index: 51;
      top: 20px;
      left: 20px;
      display: flex;
      align-items: center;
      column-gap: 10px;
    }

    .card-img {
      position: relative;
      overflow: hidden;
      width: 100%;
      border-radius: 16px;

      .card-color {
        position: absolute;
        z-index: 50;
        width: 100%;
        height: 340px;
        border-radius: 16px;
        background: linear-gradient(
          0deg,
          rgb(0 0 0 / 10%) 0%,
          rgb(0 0 0 / 10%) 100%
        );
      }

      img {
        width: 100%;
        height: 340px;
        object-fit: cover;
        object-position: center center;
        transition: 1s;
      }
    }
  }

  .category-info {
    display: flex;
    flex-direction: column;
    row-gap: 12px;

    h5 {
      font-size: var(--heading-md);
      font-weight: var(--fw-medium);
      letter-spacing: 0.24px;
      text-transform: capitalize;
    }

    .category-location {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .location-info {
        display: flex;
        align-items: center;
        column-gap: 10px;

        span {
          color: var(--clr-gray-lt);
          font-size: var(--bottom-sm);
          font-weight: var(--fw-medium);
          text-transform: capitalize;
        }
      }
    }
  }

  &:hover {
    .category-status {
      .card-img {
        img {
          transform: scale(1.15);
        }
      }
    }
  }
}

@media only screen and (width <= 700px) {
  .category-card {
    row-gap: 16px;

    .category-status {
      .status-name {
        padding: 4px 12px;
      }

      .card-img {
        .card-color {
          height: 260px;
        }

        img {
          height: 260px;
        }
      }
    }

    .category-info {
      row-gap: 8px;

      .category-location {
        .location-info {
          column-gap: 6px;
        }
      }
    }
  }
}
