@import '../../styles/style';

.header {
  padding: 25px 0;

  .header-container {
    display: flex;
    align-items: center;
    gap: 25px;

    .nav {
      flex-grow: 1;

      &-list {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 6px;

        &_item {
          margin: 0 24px;
        }

        &_link {
          padding: 14px 26px;
          cursor: pointer;
          font-size: var(--paragraph-lg);
          font-weight: var(--fw-normal);
          outline: none;
          transition: all 0.2s ease;

          &:hover {
            border: 1px solid var(--clr-gray-ltr);
            border-radius: 36px;
          }
        }
      }
    }

    .header-btn {
      display: flex;
      gap: 25px;
    }
  }
}

.active {
  padding: 14px 26px;
  border: 1px solid var(--clr-primary-dk);
  border-radius: 36px;
}
