// @import '../../styles/style';

.header {
  position: sticky;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  padding: 26px 0;
  backdrop-filter: blur(100px);
  background-color: rgb(255 255 255 / 70%);

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .hamburger {
      display: none;
      user-select: none;
    }

    button {
      border: 0;
    }

    .nav {
      .nav-content {
        .nav-close-btn {
          display: none;
          padding: 0;
        }

        .nav-list {
          display: flex;
          align-items: center;
          gap: 6px;

          &_link {
            padding: 14px 26px;
            border: 2px solid transparent;
            border-radius: 36px;
            cursor: pointer;
            font-size: var(--paragraph-lg);
            font-weight: var(--fw-normal);
            outline: none;
            text-transform: uppercase;
            transition: all 0.2s ease;

            &.active {
              border: 2px solid
                var(--clr-primary-dk);
            }

            &:hover {
              border-color: var(--clr-primary-dk);
            }
          }
        }
      }
    }

    & > div:last-child {
      display: flex;
      gap: 24px;
    }
  }
}

.header-background {
  position: absolute;
  z-index: 9999;
  top: 0;
  display: none;
  width: 100%;
  height: 100vh;
  background-color: rgb(13 13 13 / 70%);
}
.hide {
  display: none;
}
.show {
  display: block;
}
.hidden {
  overflow: hidden;
}
@media screen and (width <=850px) {
  .header-background {
    display: block;
  }

  .header {
    padding: 16px 0;

    .header-container {
      display: flex;
      width: 100%;

      .hamburger {
        display: block;
        cursor: pointer;
      }

      .nav {
        position: absolute;
        z-index: 99999;
        top: 0;
        left: 0;
        transform: translateX(-200%);
        transition: 0.45s ease;

        .nav-content {
          width: 35vw;
          height: 100vh;
          padding: 24px 0 0 60px;
          background-color: var(--clr-primary-lt);
          user-select: none;

          .nav-close-btn {
            display: block;
            margin-bottom: 40px;
          }

          .nav-list {
            flex-direction: column;
            align-items: flex-start;
            gap: 24px;

            &_link {
              padding: 0;

              &.active {
                padding: 0 0 0 3px;
                border: 0;
                border-radius: 0;
                border-left: 4px solid
                  var(--clr-primary-dk);
              }

              &:hover {
                border-color: transparent;
              }
            }
          }
        }
      }

      .nav-menu {
        width: 100vw;
        background-color: rgb(13 13 13 / 70%);
        transform: translateX(0) scale(1);
      }
    }
  }
  .show {
    display: none;
  }
  .hide {
    display: block;
  }
}

@media screen and (width <=550px) {
  .header {
    .header-container {
      display: flex;
      justify-content: space-between;

      .nav-menu {
        .nav-content {
          width: 55%;
          padding: 22px 0 0 20px;
        }
      }
    }
  }
}
