@import '../../styles/style';

.header {
  padding: 25px 0;

  .nav-menu {
    height: 100%;
    display: flex;
    align-items: start;
    top: 0;
    flex-direction: column;
    background-color: #FFF;
    position: absolute;
    z-index: 999;
    padding: 24px 116px 0 60px;
    row-gap: 40px;
    .btn {
      background-color: transparent;
      border: 0;
      padding: 0;
    }
    ul {
      height: 196px;
      justify-content: space-between;
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }
  .header-container {
    display: flex;
    align-items: center;
    gap: 25px;
    position: relative;
    .hamburger {
      display: none;
      cursor: pointer;
      button {
        background-color: transparent;
        border: 0;
      }
    }
    .nav {
      flex-grow: 1;

      &-list {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 6px;

        &_item {
          margin: 0 24px;
        }

        &_link {
          padding: 14px 26px;
          cursor: pointer;
          font-size: var(--paragraph-lg);
          border: 1px solid transparent;
          font-weight: var(--fw-normal);
          outline: none;
          transition: all 0.2s ease;
          border: 1px solid transparent;

          &:hover {
            border: 1px solid var(--clr-gray-ltr);
            border-radius: 36px;
          }
        }
      }
    }

    .header-btn {
      display: flex;
      gap: 25px;
    }
  }
}
.curing
{
  overflow-y: hidden;
}

.active {
  padding: 14px 26px;
  border: 1px solid var(--clr-primary-dk);
  border-radius: 36px;
}

@media screen and (max-width: 1194px) {
  .header {
    .header-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .hamburger {
        display: block;
      }
      .nav {
        display: none;
      }
      .header-btn > button
      {
        display: none;
      }
    }
  }
}
