.footer {
  width: 100%;
  border-radius: 24px 24px 0 0;
  background-color: var(--clr-primary-dk);

  &-content {
    display: grid;
    width: 100%;
    justify-content: space-between;
    padding-top: 62px;
    padding-bottom: 62px;
    grid-template-areas: 'logo navigation navigation' 'right navigation navigation' 'phone links icons';
    user-select: none;
    grid-template-rows: 45px 180px;

    .logo {
      cursor: pointer;
    }

    .content {
      display: flex;
      flex-direction: column;
      row-gap: 25px;

      a {
        outline: none;
      }
    }

    .footer-info {
      color: var(--clr-primary-lt);
      font-family: var(--ff-gilroy);
      font-size: 1rem;
      font-weight: var(--fw-medium);
      line-height: var(--heading-md);
    }

    .navigation {
      display: flex;
      width: 100%;
      align-items: start;
      justify-content: center;
      column-gap: 96px;
      grid-area: navigation;

      ul {
        display: grid;
        height: 120px;
        gap: var(--heading-md) 96px;
        grid-template-columns: repeat(3, 1fr);

        .hide {
          display: none;
        }

        li {
          color: var(--clr-primary-lt);
          cursor: pointer;
          font-family: var(--ff-gilroy);
          font-size: 1rem;
          font-weight: var(--fw-medium);
          line-height: var(--heading-md);
          list-style: none;

         a {
              position: relative;
              outline: none;
              text-transform: capitalize;
              transition: 0.3s;

              &::after {
                position: absolute;
                bottom: -4px;
                left: 0;
                width: 0%;
                height: 1px;
                background-color: var(
                  --clr-primary-lt
                );
                content: '';
                transition: 0.3s;
              }
            }

            &:hover a {
              &::after {
                width: 100%;
              }
            }

        }
      }
    }

    .services {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
    }

    .links {
      display: flex;
      column-gap: 64px;
      grid-area: links;

      h4 {
        color: var(--clr-primary-lt);
        cursor: pointer;
        font-family: var(--ff-gilroy);
        font-size: 1rem;
        font-weight: var(--fw-semi-normal);
        letter-spacing: 0.2px;
        line-height: var(--heading-md);
        text-decoration-line: underline;
        text-decoration-thickness: 1px;
        text-underline-offset: 3px;
        transition: 0.5s;

        &:hover {
          text-decoration-line: none;
        }
      }
    }

    .icons {
      display: grid;
      display: flex;
      column-gap: var(--heading-md);
      grid-area: icons;

      svg {
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }

  @media screen and (max-width: 930px) {
    .footer-content {
      grid-template-areas: 'logo phone' 'right right' 'navigation navigation' 'links icons';
      grid-template-rows: 45px 100px 200px;
    }
  }

  @media screen and (max-width: 689px) {
    .logo {
      margin: 0 auto;
    }

    .links {
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
    }

    .icons {
      margin: 0 auto;
    }

    .navigation {
      width: 100%;
      justify-content: start;

      span {
        ul {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }

    .footer-content {
      justify-content: center;
      grid-template-areas: 'logo' 'navigation' 'phone' 'right' 'links' 'icons';
      grid-template-rows: 80px 240px 40px 80px 100px;
    }
  }
}
