.container {
  max-width: 1350px;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.footer {
  width: 100%;
  border-radius: 24px 24px 0 0;
  background-color: var(--clr-primary-dk);
}

.footer .footer-content {
  display: grid;
  width: 100%;
  justify-content: space-between;
  padding-top: 62px;
  padding-bottom: 62px;
  grid-template-areas:
    'logo  navigation'
    'right navigation'
    'phone navigation'
    'links icons';
  grid-template-areas:
    'logo navigation navigation '
    'right navigation navigation'
    'phone links icons';
  user-select: none;
}

.footer .footer-content .logo {
  cursor: pointer;
}

.footer .footer-content {
  grid-template-rows: 45px 180px;
}

.footer .footer-content .content {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.footer .footer-content .content a {
  outline: none;
}

.footer .footer-content .footer-text {
  color: var(--clr-primary-lt);
  font-family: var(--ff-gilroy);
  font-size: 1rem;
  font-weight: var(--fw-medium);
  line-height: var(--heading-md);
}

.footer .footer-content .navigation {
  display: flex;
  width: 100%;
  align-items: start;
  justify-content: center;
  column-gap: 96px;
  grid-area: navigation;

  h3 {
    display: flex;
    justify-content: space-between;
    padding: 62px 20px 80px;
    gap: 50px;

    .logo {
      cursor: pointer;
    }

    .footer-info {
      display: flex;
      flex-direction: column;
      row-gap: 88px;

      .content {
        display: flex;
        flex-direction: column;
        row-gap: 25px;

        a {
          outline: none;
        }
      }

      .footer-text {
        color: var(--clr-primary-lt);
        font-family: var(--ff-gilroy);
        font-size: 1rem;
        font-weight: var(--fw-medium);
        line-height: var(--heading-md);
      }
    }

    .footer-links {
      display: flex;
      width: 100%;
      max-width: 762px;
      flex-direction: column;
      align-items: start;
      justify-content: space-between;

      .navigation {
        display: flex;
        width: 770px;
        align-items: start;
        column-gap: 96px;

        h3 {
          display: flex;
          align-items: center;
          color: var(--clr-primary-lt);
          column-gap: 10px;
          font-family: var(--ff-gilroy);
          font-size: 1rem;
          font-weight: var(--fw-medium);
          line-height: var(--heading-md);
          transition: 0.2s;
          user-select: none;
        }

        ul {
          display: grid;
          height: 120px;
          gap: var(--heading-md) 96px;
          grid-template-columns: repeat(3, 1fr);
          user-select: none;

          .hide {
            display: none;
          }

          li {
            width: max-content;
            color: var(--clr-primary-lt);
            cursor: pointer;
            font-family: var(--ff-gilroy);
            font-size: 1rem;
            font-weight: var(--fw-medium);
            line-height: var(--heading-md);
            list-style: none;

            a {
              position: relative;
              outline: none;
              text-transform: capitalize;
              transition: 0.3s;

              &::after {
                position: absolute;
                bottom: -1px;
                left: 0;
                width: 0%;
                height: 1px;
                background-color: var(
                  --clr-primary-lt
                );
                content: '';
                transition: 0.3s;
              }
            }

            &:hover a {
              &::after {
                width: 100%;
              }
            }
          }
        }
      }

      .services {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;

        .links {
          display: flex;
          column-gap: 64px;
          user-select: none;

          h4 {
            color: var(--clr-primary-lt);
            cursor: pointer;
            font-family: var(--ff-gilroy);
            font-size: 1rem;
            font-weight: var(--fw-semi-normal);
            letter-spacing: 0.2px;
            line-height: var(--heading-md);
            text-decoration-line: underline;
            text-decoration-thickness: 1px;
            text-underline-offset: 3px;
            transition: 0.5s;

            &:hover {
              text-decoration-line: none;
            }
          }
        }

        .icons {
          display: flex;
          column-gap: var(--heading-md);

          svg {
            cursor: pointer;
            transition: 0.3s;

            &:hover {
              transform: scale(1.2);
            }
          }
        }
      }
    }
  }
}

.footer .footer-content .navigation ul {
  display: grid;
  height: 120px;
  gap: var(--heading-md) 96px;
  grid-template-columns: repeat(3, 1fr);
}

.footer .footer-content .navigation ul .hide {
  display: none;
}

.footer .footer-content .navigation ul li {
  color: var(--clr-primary-lt);
  cursor: pointer;
  font-family: var(--ff-gilroy);
  font-size: 1rem;
  font-weight: var(--fw-medium);
  line-height: var(--heading-md);
  list-style: none;

  ul li a {
    position: relative;
    outline: none;
    text-transform: capitalize;
    transition: 0.3s;
  }
}

.footer
  .footer-content
  .navigation
  ul
  li
  a::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: var(--clr-primary-lt);
  content: '';
  transition: 0.3s;
}

.footer
  .footer-content
  .navigation
  ul
  li:hover
  a::after {
  width: 100%;
}

.footer .footer-content .services {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.footer .footer-content .links {
  display: flex;
  column-gap: 64px;
  grid-area: links;
}

.footer .footer-content .links h4 {
  color: var(--clr-primary-lt);
  cursor: pointer;
  font-family: var(--ff-gilroy);
  font-size: 1rem;
  font-weight: var(--fw-semi-normal);
  letter-spacing: 0.2px;
  line-height: var(--heading-md);
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  transition: 0.5s;
}

.footer .footer-content .links h4:hover {
  text-decoration-line: none;
}

.footer .footer-content .icons {
  display: grid;
  display: flex;
  column-gap: var(--heading-md);
  grid-area: icons;
}

.footer .footer-content .icons svg {
  cursor: pointer;
  transition: 0.3s;
}

.footer .footer-content .icons svg:hover {
  transform: scale(1.2);
}

.footer .container {
  display: grid;

  // grid-column: 2;
  // grid-row: 3;
}

// @media screen and (width >=1200px) {

.logo-div {
  grid-area: logo;
}

.phone {
  grid-area: phone;
}

.rights {
  grid-area: right;
}

// MEDIAS

@media screen and (width <=930px) {
  .footer .footer-content {
    // padding: 40px 40px 0 !important;
    grid-template-areas:
      'logo  phone'
      'right right'
      'navigation navigation'
      'links icons';

    // grid-template-rows: 20px 100px 100px;
    grid-template-rows: 45px 100px 200px;
  }
}

@media screen and (width <=689px) {
  .logo-div .logo {
    margin: 0 auto;
  }

  .links {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .icons {
    margin: 0 auto;
  }

  .navigation {
    width: 100% !important;
    justify-content: start !important;

    // padding-left: 20px;

    span ul {
      grid-template-columns: repeat(
        2,
        1fr
      ) !important;
    }
  }

  .footer .footer-content {
    justify-content: center;
    grid-template-areas:
      'logo'
      'navigation'
      'phone'
      'right'
      'links'
      'icons';
    grid-template-rows: 80px 240px 40px 80px 100px;
  }
}
