form {
  flex-grow: 1;

  label {
    display: flex;
    overflow: hidden;
    align-items: center;
    padding-right: 15px;
    padding-left: 26px;
    border: 1px solid black;
    border-radius: 32px;
    cursor: text;

    input {
      width: 100%;
      padding: 13px 10px;
      border: none;
      background-color: transparent;
      font-family: var(--ff-gilroy);
      font-size: var(--bottom-md);

      &::placeholder {
        color: var(--clr-gray-ltr);
      }

      &:focus {
        background-color: transparent;
      }
    }
  }
}
