.events-page {
  padding: 96px 0 128px;
}
.promo-section {
  display: flex;
  height: 161px;
  justify-content: space-between;

  h1 {
    font-family: var(--ff-red-hat);
    font-size: var(--heading-xl);
    font-weight: var(--fw-medium);
    letter-spacing: 0.04rem;
    align-self: flex-start;
    text-transform: uppercase;
  }

  p {
    max-width: 450px;
    font-family: var(--ff-gilroy);
    font-size: var(--bottom-md);
    font-weight: var(--fw-medium);
    align-self: flex-end;
    line-height: 1.5rem;
  }
}

.cards-sorted {
  display: flex;
  flex-direction: column;
  row-gap: 2.25rem;

  .sorted {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
}
