.events-page {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
}

.promo-section {
  display: flex;
  height: 161px;
  justify-content: space-between;

  h1 {
    align-self: flex-start;
    font-family: var(--ff-red-hat);
    font-size: var(--heading-xl);
    font-weight: var(--fw-medium);
    letter-spacing: 0.04rem;
    text-transform: uppercase;
  }

  p {
    max-width: 450px;
    align-self: flex-end;
    font-family: var(--ff-gilroy);
    font-size: var(--bottom-md);
    font-weight: var(--fw-medium);
    line-height: 1.5rem;
  }
}

.cards-sorted {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;

  .sorted {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 2.5rem;
  }
}
