@import '../../styles/style';

.events-page {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 64px;

  .promo-section {
    display: flex;
    flex-direction: column;
    row-gap: 36px;

    h1 {
      font-family: var(--ff-red-hat);
      font-size: var(--heading-xl);
      font-weight: var(--fw-medium);
      letter-spacing: 0.64px;
      text-transform: uppercase;
    }

    p {
      max-width: 450px;
      align-self: flex-end;
      font-size: var(--paragraph-md);
      font-weight: var(--fw-medium);
      line-height: 24px;
    }
  }

  .cards-sorted {
    display: flex;
    flex-direction: column;
    row-gap: 36px;

    .sorted {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      margin-bottom: 36px;
    }
  }
}

@media only screen and (width <= 992px) {
  .events-page {
    row-gap: 48px;

    .promo-section {
      row-gap: 24px;

      h1 {
        letter-spacing: 0.36px;
      }
    }

    .cards-sorted {
      row-gap: 24px;

      .sorted {
        margin-bottom: 24px;
      }
    }
  }
}

@media only screen and (width <= 700px) {
  .events-page {
    row-gap: 32px;

    .promo-section {
      row-gap: 32px;

      h1 {
        letter-spacing: 0.32px;
      }
    }
  }
}
