.cards-wrapper {
  display: grid;
  justify-content: center;
  gap: 48px 24px;
  grid-template-columns: repeat(auto-fill, 200px);

  .cards-item {
    width: 200px;
    height: 170px;
    padding: 10px 10px 15px;
    color: var(--primary-black);
    cursor: pointer;
    text-align: center;
    transition: all 0.5s;

    &:hover {
      color: var(--clr-gray-lt);
    }

    img {
      width: 100px;
      height: 100px;
      border-radius: 16px;
      margin-bottom: 15px;
      background: lightgray 50% / cover no-repeat;
    }

    p {
      font-size: 24px;
      font-weight: 600;
      letter-spacing: 0.24px;
    }
  }

  .subcategory {
    padding: 0 40px;
    grid-column: 1 / -1;
    grid-row: 2;

    p {
      strong {
        margin: 0 8px;
        font-size: var(--bottom-lg);
        font-weight: var(--fw-medium);
      }

      span {
        color: var(--silver);
        font-size: var(--bottom-md);
        font-weight: var(--fw-medium);
      }
    }

    ul {
      display: grid;
      margin-top: 36px;
      gap: 24px 68px;
      grid-template-columns: repeat(
        auto-fill,
        188px
      );

      li {
        transition: all 0.5s;

        &:hover {
          color: var(--silver);
        }

        a {
          margin-left: 8px;
          font-size: var(--bottom-md);
          font-weight: var(--fw-medium);
          text-transform: capitalize;
        }
      }
    }
  }
}
